html {
	height: 100%;
	position: relative;
	min-width: 960px;
	min-height: 530px;
	font-family: consolas, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

/*reset*/
body {
	margin: 0;
}

ul {
	list-style: none;
	-webkit-padding-start: 0;
}

a {
	text-decoration: none;
}

/*工具类*/
.w110 {
	width: 110px;
}

.w250 {
	width: 250px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: rgb(61, 103, 166);
}

.fr {
	float: right;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

body:before {
	width: 100%;
	height: 515px;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	z-index: -1;
	content: ''; 
}

.intro {
	width: 100%;
	color: white;
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.or-logo {
	height: 50px;
	width: 50px;
	vertical-align: -10px;
}

.address {
	color: #ccc;
	cursor: pointer;
}

.join {
    color: #FFF;
	font-size: 100%;
	display: inline-block;
	background-color: #00B220;
	padding: .8em 1.8em;
	margin: 0.5em 0 0 0;
	line-height: 1;
	border-radius: 1.2em;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 .1em .2em rgba(0, 0, 0, .3);
	transition: .7s;
}

.lecturer {
	/*position: absolute;*/
	position: relative;
	/*top: 50%;*/
	width: 100%;
	height: 420px;
}

.lecturer-list {
	text-align: center;
	width: 100%;
	margin: 0;
	height: 150px;
}

.lecturer-list:after {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.lecturer-list li {
	vertical-align: middle;
	display: inline-block;
	height: 98px;
	width: 98px;
	margin-left: 20px;
	-webkit-transition: .2s;
	transition: .2s;
}

.lecturer-list li:first-child {
	margin-left: 0;
}

.line {
	position: relative;
	height: 10px;
	background: url(images/line.png) repeat-x;
	top: 105px;
	z-index: -10;
}

#about {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #999;
	font-size: 15px;
	margin-top: 35px;
	position: relative;
	/*min-width: 520px;*/
}

#about .title {
	font-weight: 300;
	margin-bottom: 0;
}

.title strong {
	color: #000;
	font-size: 20px;
	padding-right: 20px;
}

#about .brief {
	line-height: 30px;
	margin-top: 5px;
}

/*置灰*/
.gray { 
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	filter: grayscale(50%);
	filter: gray;
}

/*变大*/
.lecturer-list li.largen {
	height: 140px;
	width: 140px;
}

.lecturer-list li {
	border-radius: 50%;
	/*border: 1px solid #ccc;*/
}

/*1*/
.zhaoyu {
	background: url(images/lecturers/zhaoyu.png) 0% / cover no-repeat;
}

/*2*/
.zhangshun {
	background: url(images/lecturers/zhangshun.png) 0% / cover no-repeat;
}

/*3*/
.xiangwei {
	background: url(images/lecturers/xiangwei.png) 0% / cover no-repeat;
}

/*4*/
.chun {
	background: url(images/chun.png) 0% / cover no-repeat;
}

/*5*/
.thefosk {
	background: url(images/lecturers/thefosk.png) 0% / cover no-repeat;
}

/*6*/
.yejing {
	background: url(images/lecturers/yejing.png) 0% / cover no-repeat;
}

/*7*/
.zhangcong {
	background: url(images/zhangcong.png) 0% / cover no-repeat;
}

.QRcode {
	position: absolute;
	top: 240px;
	right: 11.5%;
	height: 108px;
	width: 108px;
}

/*详细内容包含日程表 & 赞助商*/
.detail {
	width: 700px;
	margin: 20px auto;
}

/*日程表*/
.schedule {
	width: 740px;
}

.schedule h1 {
	text-align: center;
	color: #34495e;
	text-shadow: 2px 2px 4px #34495e;
}

#schedule-list {
	color: #999;
	font-weight: bold;
}

#schedule-list > li {
	font-size: 0;
	margin-top: 10px;
}

.schedule-item {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	display: inline-block;
	width: 49%;
	background-color: #f8f8f8;
	text-indent: 20px;
	line-height: 24px;
	box-shadow: 1px 1px #ccc;
	border-radius: 3px;
}

.doing {
	display: block;
	font-style: normal;
	width: 90%;
	margin: 0 auto;
	/*color: #2674BA;*/
	color: black;
	/*太多显示不下*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	text-indent: 0;
}

/*合作伙伴*/
.sponsor {
	width: 700px;
	text-align: center;
	height: 450px;
	color: #34495e;
	text-shadow: 2px 2px 4px #34495e;
}

.tx {
	width: 150px;
}

.stuq {
	width: 120px;
	margin-left: 10px;
	margin-right: 10px;
}

/*合作伙伴 logo*/
.logo {
	width: 190px;
}

.powered-by, .provided-by {
	text-align: center;
	color: #ccc;
}

.powered-by {
	margin-bottom: 10px;
}

.provided-by {
	padding: 0 10px;
	/*font-size: 14px;*/
}

.foundation,
.tencent,
.zhuhai-open,
.my-github {
	color: #2674BA;
}

@media (max-width: 420px) {
	html {
		min-width: 0;
	}
	body:before {
		height: 400px;
		background-position: center 50%;
	}

	.intro {
		transform: scale(.8);
	}

	.or-logo {
		height: 40px;
		width: 40px;
		vertical-align: -8px;
	}

	/*不要线*/
	.line {
		display: none;
	}

	.lecturer {
		height: auto;
	}

	.lecturer-list {
		display: none;
	}

	#about {
		width: 80%;
	}

	#about .brief {
		line-height: 1.5;
	}

	#about .avatar {
		/*border: 2px solid #ccc;*/
		border-radius: 50%;
		height: 150px;
		width: 150px;
		margin: 0 auto;
	}

	.detail {
		width: 100%;
	}

	.schedule {
		width: 100%;
	}

	#schedule-list > li {
		text-align: center;
	}

	.schedule-item {
		text-align: left;
		width: 90%;
	}

	.doing {
		white-space: pre-wrap;
	}

	.sponsor {
		height: auto;
		width: 100%;
	}
	
	.logo-set {
		margin: 0;
	}

	.logo-set a {
		display: block;
		margin-top: 10px;
	}

	.logo {
		width: 250px;
	}
}

